<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazoriseBugReportAntDesign_250109</title>

    <base href="/" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.24.15/antd.min.css" integrity="sha512-Ac6zlwN6S+uQSinFAcV27Gd/TtKEDt7XWXn2xWO4Xi9dTbbpT9/vJb+VT5af6nZywrgBD3qUFTb5y1VN4YD94Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">

    <link href="_content/Blazorise.AntDesign/blazorise.antdesign.css?v=1.7.0.0" rel="stylesheet" />
    <link href="_content/Blazorise/blazorise.min.css?v=1.7.0.0" rel="stylesheet" />

    <link href="BlazoriseBugReportAntDesign_250109.Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/blazor-ui.css" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>
<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>